/* 全体のスタイル */
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #fcf2eb;
}

/* Vueのマウント先 */
#app {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* フォント指定 */
body {
  font-family: 'Faustina', serif;
  font-size: 16px;
}

/* フォント継承 */
button,
input,
textarea,
select {
  font-family: inherit;
}
